<!-- <p>vehicle-details works!</p> -->

<!-- <pre>{{vehicle | json}}</pre> -->
<!-- <h1>
<div id="one">vehicle name <h4>{{vehicle.manufacturer}}</h4>
  

</div> <div class="two">model,type 
    <h4>{{vehicle.model}}</h4>
    <h4>{{vehicle.type}}</h4>
   </div>

    <div class="three">fuel,color
        <h4>{{vehicle.fuel}}</h4>
        <h4>{{vehicle.color}}</h4>
        
    </div>

    <div class="four">image

        <h4><img src="https://www.bikes4sale.in/pictures/default/hero-passion-pro/hero-passion-pro-640.jpg" alt="" width="100px" height="100px">:{{vehicle.image}}</h4>
    </div>
</h1> -->

<h4><p> vehicle:</p>{{vehicle.vehicle}}</h4>
<h4><p> manufacturer:</p>{{vehicle.manufacturer}}</h4>
<h4><p> model:</p>{{vehicle.model}}</h4>
<h4><p> type:</p>{{vehicle.type}}</h4>
<h4><p> fuel:</p>{{vehicle.fuel}}</h4>
<h4><p>color:</p>{{vehicle.color}}</h4>
<h4><img src="https://www.bikes4sale.in/pictures/default/hero-passion-pro/hero-passion-pro-640.jpg" alt="">:</h4>
