<div class="parent">
<div class="child">
    <h1 class="clr1" appImp>calculator</h1>
    <input type="number" [(ngModel)]="number1">
    <br>
    <input type="number"[(ngModel)]="number2">
   <section>
      <div (click)="add()" class="one"><h3> ADD +</h3></div>
      <div (click)="sub()" class="two"><h3> SUB -</h3></div>
      <div (click)="mul()"class="three"><h3> MUL *</h3></div>
      <div (click)="div()"class="four"><h3> DIV /</h3></div>
     
   </section>
   <h1>result is {{result}}</h1>

</div>


</div>
