<p>create-student works!</p>

<form [formGroup]="studentForm">

    <label>name</label>
    <input type="text" formControlName="name">
    <br>

    <label>city</label>
    <input type="text" formControlName="city">
    <br>

    <label>phone</label>
    <input type="text" formControlName="address">
    <br>

    <label>address</label>
    <input type="text" formControlName="photo">
    <br>

    <label>photo</label>
    <input type="text" ormControlName="photo">
    <br>

    <label>placed in</label>
    <input type="text" formControlName="placedin">
    <br>

    <label>salary</label>
    <input type="text" formControlName="salary">
    <br>
  <button (click)="submit()">submit</button>
    <!-- <input (click)="submit" type="submit"> -->
</form>
