<!-- <p>dashboard works!</p> -->

<div class="parent">
    <div class="left">  
        <h3 routerLink="home">home</h3>
        <h3 routerLink="calculator">calculator</h3>
        <h3 routerLink="data-binding">data-binding</h3>
        <h3 routerLink="rectangle">rectangle</h3>
        <h3 routerLink="squere">squere</h3>
        <h3 routerLink="grade">grade</h3>
        <h3 routerLink="wishing">wishing</h3>
        <h3 routerLink="advancecalculator">advancecalculator</h3>
        <h3 routerLink="directives">directives</h3>
        <h3 routerLink="cars">cars</h3>
        <h3 routerLink="fee">fee</h3>
        <h3 routerLink="pipes">pipes</h3>
        <h3 routerLink="phones">phones</h3>
        <h3 routerLink="vehicle">vehicle</h3>
        <h3 routerLink="product">product</h3>
        <h3 routerLink="student">student</h3>
        <h3 routerLink="create-vehicle">create-vehicle</h3>
        <h3 routerLink="create-student">create-student</h3>
        <h3 routerLink="mail-box">mail-box</h3>
        <h3 routerLink="photos">photos</h3>
        <h3 routerLink="create-user">create-user</h3>
        <h3 routerLink="parent">parent</h3>
        <h3 routerLink="flipcart">flipcart</h3>
        <h3 routerLink="cartt">cartt</h3>
        <h3 routerLink="navbar">navbar</h3>
        <h3 routerLink="about-company">about-company</h3>
        <h3 routerLink="contact-us/contact-office">contact-us,contact-office</h3>
        <h3 routerLink="jobs">jobs</h3>
        <button (click)="logout()"> logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
        
</div>